appdirs==1.4.4
appnope==0.1.2
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
boto3==1.17.39
botocore==1.20.39
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.1
entrypoints==0.3
filelock==3.0.12
greenlet==1.1.2
idna==2.10
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.4.3
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
packaging==20.9
pandas==1.3.3
pandocfilters==1.4.2
parso==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.17.3
ptyprocess==0.6.0
pycairo==1.20.1
Pygments==2.5.2
PyGObject==3.40.1
pyparsing==2.4.6
PyQt3D==5.15.4
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQt6==6.1.1
PyQt6-3D==6.1.1
PyQt6-Charts==6.1.1
PyQt6-DataVisualization==6.1.1
PyQt6-NetworkAuth==6.1.1
PyQt6-sip==13.1.0
PyQtChart==5.15.4
PyQtDataVisualization==5.15.4
PyQtNetworkAuth==5.15.4
PyQtPurchasing==5.15.4
PyQtWebEngine==5.15.4
pyrsistent==0.15.7
python-dateutil==2.8.1
python-utils==2.3.0
pytz==2019.3
pyzmq==18.1.0
qtconsole==4.6.0
regex==2021.3.17
requests==2.25.1
s3transfer==0.3.6
sacremoses==0.0.43
scipy==1.7.1
scoop==0.7.1.1
Send2Trash==1.5.0
sentencepiece==0.1.95
sip==6.1.1
six==1.14.0
TBB==0.2
terminado==0.8.3
testpath==0.4.4
tokenizers==0.10.1
toml==0.10.2
torch==1.8.1
torchvision==0.9.1
tornado==6.0.3
tqdm==4.59.0
traitlets==4.3.3
transformers @ file:///Users/andrewshen/Documents/transformers
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.0
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==2.1.0
